
 #myVideo{
    position: relative;
    top: 0;
    width: 118%;
    left: 0;
    height: auto;
   }
     
  .caja{      
      left: 0;
      height: auto;
      width: 84.5%;
      padding-bottom: 56.25%;
   }
   #texto1{
    position: absolute;
    top: 30%;
    left: 32%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 120px;
    color: #dc143c;
  }
  
   #menu{
       position: absolute;
       top: 1%;
       left: 0px;
       margin: 30px;
       font-size: 20px;
       width: 50%;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       height: auto;
    }
   ul, li{
       list-style: none;
   }
   .nav li a {
       background-color:none;
       color:crimson;
       text-decoration: none;
       padding: 10px 15px;
       display: block;
   }
   .nav li a:hover{
       background-color:#000000;
       opacity:0.3;
   }
   .nav > li{
       float: left;
   }
   .nav li ul{
       display: none;
       position: absolute;
       min-width: 140px;
   }
   .nav li:hover > ul{
       display: block;
   }
   .caja2{
       top:0;
       width: 150px;
       height: auto;
       left: 69%;
       margin: 30px;
       position: absolute;
   }
   #reg{
       position: absolute;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       color: crimson;
       font-size: 20px;
       left: 78.53%;
       top: 4.8%;
   }
   .caja3{
    position: absolute;
    width: 150px;
    height: auto;
    left: 86%;
    margin: 30px;
    top: 0%;
    }
    #log{
        position: absolute;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: crimson;
        font-size: 20px;
        left: 85%;
        top: 4.8%;
    }
    .contenedor{
        margin: auto;
        background-color: white;
        width: 50%;
        left:25.5% ;
        background-color: black;       
       }
    .carousel-indicators{
       left: 4.5%;
      }
    .carousel-caption {
        color:ghostwhite;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }

  #texto2{
   position: absolute;
    top: 190%;
    left: 30%;
    font-family:Arial, Helvetica, sans-serif;
    color: #dc143c;
    font-size: 80px;
    }
  #texto3{
    position: absolute;
    top: 123%;
    left: 7.2%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 34px;
    color: #dc143c;
    }
   #texto4{
        width: 410px;
        padding: 10px;
        border: 2px solid gray;
        margin: 0;
        position: absolute;
        top: 154%;
        left: 4%;
        color:brown;
        text-align: justify;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 12.5px;
    }
    .resident{
        top: 129%;
        left: 3%;
        position: absolute;
        width: 450px;
    }

    #texto5{
    position: absolute;
    top: 123%;
    left: 78.5%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 34px;
    color: #dc143c;
   }
    
  #texto6{
    width: 410px;
    padding: 10px;
    border: 2px solid gray;
    margin: 0;
    position: absolute;
    top: 154%;
    left: 76%;
    font-size: 12.5px;
    color:brown;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
   }

  .guilty{
    top: 129%;
    left: 75%;
    position: absolute;
    width: 450px;
  }
  #texto7{
    position: absolute;
    top: 123%;
    left: 46.5%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 34px;
    color: #dc143c;
   }
    
  #texto8{
    width: 410px;
    padding: 10px;
    border: 2px solid gray;
    margin: 0;
    position: absolute;
    top: 154%;
    left: 41%;
    font-size: 12.5px;
    color:brown;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
   }

  .return{
    top: 129%;
    left: 40%;
    position: absolute;
    width: 450px;
  }

  #texto9{
    position: absolute;
    top: 110%;
    left: 33%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 55px;
    color: #dc143c;
   }

   h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #dc143c;
  }
  
  
  h3{
    font-size: 16px; 
    color:crimson;   
  }
  
  
  p{
    font-size: 17px; 
    color:crimson; 
  }


  p.copyright{
  color: darkgray;
  }
   
 body{    
    background-color: #000000;
 }