#menu{
    position: absolute;
    top: 1%;
    left: 0px;
    margin: 30px;
    font-size: 20px;
    width: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul, li{
    list-style: none;
}
.nav li a {
    background-color:none;
    color:crimson;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.nav li a:hover{
    background-color:#000000;
    opacity:0.3;
}
.nav > li{
    float: left;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.nav li:hover > ul{
    display: block;
}
.caja2{
 top:0;
 width: auto;
 height: auto;
 left: 70%;
 margin: 30px;
 position: absolute;
}
#reg{
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: crimson;
    font-size: 20px;
    left: 78.53%;
    top: 4.8%;
}
.caja3{
 position: absolute;
 width: auto;
 height: auto;
 left: 87%;
 margin: 30px;
 top: 0%;
 }
 #log{
     position: absolute;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: crimson;
     font-size: 20px;
     left: 85%;
     top: 4.8%;
 } 
 h1{
     position:absolute;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 80px;
     color: crimson;
     left: 49%;
     top: 24%;
  }
  #nof1{
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: crimson;
    left: 46%;
    top: 24%;
    width: 100%;
    min-width: 30%;        
    max-width: 47.5%;
  }
  #nof2{
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: crimson;
    left: 39%;
    top: 30%;
    width: 100%;
    min-width: 30%;        
    max-width: 47.5%;
  }
 .gato{
    position: absolute;
    height: auto;
    left: 39%;
    margin: 30px;
    top: 37%;
    width: 100%;
    min-width: 30%;        
    max-width: 47.5%;
  }
  h3{
    font-size: 16px; 
    color:crimson;   
  }
  
  
  p{
    font-size: 17px; 
    color:crimson; 
  }


  p.copyright{
  color: darkgray;
  }
  
body{
    background-image: url(https://wallpapercave.com/wp/wp6893248.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-color: #464646;
    font-family: Arial, Helvetica, sans-serif;
  }