
#myVideo{
    position: relative;
    top: 0;
    width: 118%;
    left: 0;
    height: auto;
   }
     
  .caja{
      position: absolute;
      height: 900px;
      width: 1600px;
      padding-bottom: 56.25%;

   }
  .texto1{
      position: absolute;
      top: 20%;
      left: 17cm;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 120px;
      color: #dc143c;
   }
   *{
    padding: 0px;
    margin: 0px;
    
   }
   #menu{
       position: absolute;
       top: 0px;
       left: 0px;
       margin: 30px;
       font-size: 20px;
       width: 500px;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   ul, li{
       list-style: none;
   }
   .nav li a {
       background-color:none;
       color:crimson;
       text-decoration: none;
       padding: 10px 15px;
       display: block;
   }
   .nav li a:hover{
       background-color:#000000;
       opacity:0.3;
   }
   .nav > li{
       float: left;
   }
   .nav li ul{
       display: none;
       position: absolute;
       min-width: 140px;
   }
   .nav li:hover > ul{
       display: block;
   }
   #caja2{
       position: absolute;
       width: auto;
       height: auto;
       left: 70%;
       margin: 30px;
   }
   #reg{
       position: absolute;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       color: crimson;
       font-size: 20px;
       left: 78.53%;
       top: 48px;
   }
   #caja3{
    position: absolute;
    width: auto;
    height: auto;
    left: 87%;
    margin: 30px;
}
   #log{
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: crimson;
    font-size: 20px;
    left: 85%;
    top: 48px;
}
.container{
    margin: auto;
    background-color: white;
    width: 800px;
    padding: 30px;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 900px;
    height: 400px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 1200px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  
  ul.slider li img{
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; 
  }
  
  ul.slider li:target {
      opacity: 1; 
  }
  
  .menu2{
    position: absolute;
       top: 1600px;
       left: 890px;
       margin: 30px;
       font-size: 20px;
       width: 500px;
  }
  
  .menu2 li{
    display: inline-block;
    text-align: center;
  }
  
  .menu2 li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: auto;
  }
  .texto2{
    position: absolute;
    top: 1100px;
    left: 15cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: #dc143c;
    }


body{ 
    
    
    background-color: #000000;
}